* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arimo', sans-serif;
}
body .container {
  padding: 0 15px;
  margin: 0 15px;
}

.header {
  background-color: #F9F9F9;
  padding: 40px 0;
}
.header .header-all {
  display: flex;
}
.header .header-all .header-left {
  width: 15%;
}
.header .header-all .header-left img {
  width: 65%;
}
.header .header-all .header-center {
  display: flex;
  justify-content: center;
  width: 60%;
  text-align: right;
  padding: 15px;
}
.header .header-all .header-center .dropdown1 {
  z-index: 999;
  position: relative;
}
.header .header-all .header-center .dropdown1:hover .dropcontent {
  visibility: visible;
}
.header .header-all .header-center .dropdown1 .dropbtn a {
  font-size: 17px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
}
.header .header-all .header-center .dropdown1 .dropbtn a i {
  font-size: 17px;
  margin-left: 5px;
}
.header .header-all .header-center .dropdown1 .dropcontent {
  top: 300%;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 35rem;
  padding: 50px;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}
.header .header-all .header-center .dropdown1 .dropcontent .demo {
  margin-right: 50px;
}
.header .header-all .header-center .dropdown1 .dropcontent .demo a {
  text-decoration: none;
}
.header .header-all .header-center .dropdown1 .dropcontent .demo a h3 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}
.header .header-all .header-center .dropdown1 .dropcontent .demo ul {
  list-style: none;
}
.header .header-all .header-center .dropdown1 .dropcontent .demo ul li {
  text-align: left;
  margin-bottom: 15px;
}
.header .header-all .header-center .dropdown1 .dropcontent .demo ul li a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 12px;
}
.header .header-all .header-center .dropdown2 {
  position: relative;
}
.header .header-all .header-center .dropdown2:hover .dropcontent {
  visibility: visible;
  top: 300%;
}
.header .header-all .header-center .dropdown2 .dropbtn a {
  font-size: 17px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
}
.header .header-all .header-center .dropdown2 .dropbtn a i {
  font-size: 17px;
  margin-left: 5px;
}
.header .header-all .header-center .dropdown2 .dropcontent {
  position: absolute;
  top: 400%;
  display: flex;
  background-color: black;
  width: 10rem;
  padding: 50px 50px 50px 40px;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}
.header .header-all .header-center .dropdown2 .dropcontent .demo {
  margin-right: 50px;
}
.header .header-all .header-center .dropdown2 .dropcontent .demo ul {
  list-style: none;
}
.header .header-all .header-center .dropdown2 .dropcontent .demo ul li {
  text-align: left;
  margin-bottom: 15px;
}
.header .header-all .header-center .dropdown2 .dropcontent .demo ul li a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 12px;
}
.header .header-all .header-center .dropdown3 {
  position: relative;
}
.header .header-all .header-center .dropdown3:hover .dropcontent {
  visibility: visible;
  top: 300%;
}
.header .header-all .header-center .dropdown3 .dropbtn a {
  font-size: 17px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
}
.header .header-all .header-center .dropdown3 .dropbtn a i {
  font-size: 17px;
  margin-left: 5px;
}
.header .header-all .header-center .dropdown3 .dropcontent {
  position: absolute;
  top: 400%;
  display: flex;
  background-color: black;
  width: 10rem;
  padding: 50px 50px 50px 40px;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}
.header .header-all .header-center .dropdown3 .dropcontent .demo {
  margin-right: 50px;
}
.header .header-all .header-center .dropdown3 .dropcontent .demo ul {
  list-style: none;
}
.header .header-all .header-center .dropdown3 .dropcontent .demo ul li {
  text-align: left;
  margin-bottom: 15px;
}
.header .header-all .header-center .dropdown3 .dropcontent .demo ul li a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 12px;
}
.header .header-all .header-center .dropdown4 {
  z-index: 999;
  position: relative;
}
.header .header-all .header-center .dropdown4:hover .dropcontent {
  visibility: visible;
  top: 300%;
}
.header .header-all .header-center .dropdown4 .dropbtn a {
  font-size: 17px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
}
.header .header-all .header-center .dropdown4 .dropbtn a i {
  font-size: 17px;
  margin-left: 5px;
}
.header .header-all .header-center .dropdown4 .dropcontent {
  position: absolute;
  top: 400%;
  left: -300%;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 50rem;
  padding: 50px;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo {
  width: 25%;
  margin-right: 50px;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo a {
  text-decoration: none;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo a h3 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo ul {
  list-style: none;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo ul li {
  text-align: left;
  margin-bottom: 15px;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo ul li a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 12px;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo .img {
  width: 15rem;
  height: 15rem;
}
.header .header-all .header-center .dropdown4 .dropcontent .demo .img img {
  width: 100%;
}
.header .header-all .header-center .dropdown5 {
  z-index: 999;
  position: relative;
}
.header .header-all .header-center .dropdown5:hover .dropcontent {
  visibility: visible;
  top: 300%;
}
.header .header-all .header-center .dropdown5 .dropbtn a {
  font-size: 17px;
  padding: 15px 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
}
.header .header-all .header-center .dropdown5 .dropbtn a i {
  font-size: 17px;
  margin-left: 5px;
}
.header .header-all .header-center .dropdown5 .dropcontent {
  position: absolute;
  top: 400%;
  left: -100%;
  display: flex;
  background-color: black;
  width: 10rem;
  padding: 50px 50px 50px 40px;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}
.header .header-all .header-center .dropdown5 .dropcontent .demo {
  margin-right: 50px;
}
.header .header-all .header-center .dropdown5 .dropcontent .demo ul {
  list-style: none;
}
.header .header-all .header-center .dropdown5 .dropcontent .demo ul li {
  text-align: left;
  margin-bottom: 15px;
}
.header .header-all .header-center .dropdown5 .dropcontent .demo ul li a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 12px;
}
.header .header-all .header-right {
  width: 30%;
  text-align: right;
}
.header .header-all .header-right i {
  font-size: 20px;
  padding: 15px 10px;
  cursor: pointer;
}
.header .header-all .header-right .shop {
  font-size: 20px;
  padding: 15px 10px;
  position: relative;
}
.header .header-all .header-right .shop p {
  position: absolute;
  font-size: 10px;
  border-radius: 50px;
  padding: 7px 10px;
  background-color: black;
  color: white;
  top: -5px;
  left: 30px;
  font-family: 'Arimo', sans-serif;
}

.first {
  background-color: #F9F9F9;
}
.first .all {
  display: flex;
}
.first .all .left {
  width: 40%;
  padding: 9rem 0 15rem 13rem;
}
.first .all .left p {
  font-size: 30px;
  color: black;
  font-family: 'Arimo', sans-serif;
}
.first .all .left h3 {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}
.first .all .left button {
  font-family: 'Arimo', sans-serif;
  cursor: pointer;
  margin-top: 30px;
  color: black;
  background-color: white;
  padding: 15px 32px;
  border: 1px solid black;
  transition: .3s;
}
.first .all .left button:hover {
  background-color: black;
  color: white;
}
.first .all .right {
  position: relative;
  width: 30%;
}
.first .all .right img {
  width: 100%;
}
.first .all .right p {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  bottom: 7.5rem;
  left: 30px;
  font-family: 'Arimo', sans-serif;
}

.second .second-box {
  display: flex;
  margin: auto;
}
.second .second-box .left {
  padding: 10rem 0 10rem 4rem;
  width: 60%;
}
.second .second-box .left h2 {
  font-size: 46px;
  color: #1a1a1a;
  margin-bottom: 20px;
  font-family: 'Arimo', sans-serif;
}
.second .second-box .left p {
  font-size: 16px;
  color: #1a1a1a;
  margin-bottom: 45px;
  line-height: 2;
  font-family: 'Arimo', sans-serif;
}
.second .second-box .left a {
  font-size: 16px;
  color: #1a1a1a;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.second .second-box .left a:hover {
  text-decoration: underline;
}
.second .second-box .right {
  padding: 4rem;
  width: 40%;
  position: relative;
}
.second .second-box .right img {
  width: 100%;
}
.second .second-box .right i {
  font-size: 25px;
  border-radius: 50px;
  color: black;
  background-color: white;
  padding: 30px 32px;
  filter: drop-shadow(2px 4px 8px black);
  position: absolute;
  bottom: 10rem;
  left: 2rem;
  cursor: pointer;
}

.third .third-box {
  text-align: center;
}
.third .third-box h2 {
  font-size: 46px;
  color: #1a1a1a;
  font-family: 'Arimo', sans-serif;
}
.third .third-box hr {
  width: 6%;
  height: 6px;
  background-color: #FEDBC4;
  border: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.third .third-box p {
  font-size: 16px;
  color: #4d4d4d;
  font-family: 'Arimo', sans-serif;
  line-height: 2;
}
.third .third-all {
  display: flex;
  padding: 50px 0;
}
.third .third-all .pics {
  width: 33%;
  margin: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.third .third-all .pics:hover p {
  color: white;
}
.third .third-all .pics:hover img {
  transform: scale(1.1);
}
.third .third-all .pics:hover .overlay {
  visibility: visible;
}
.third .third-all .pics .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  opacity: 0.5;
  visibility: hidden;
  transition: 0.3s;
}
.third .third-all .pics p {
  position: absolute;
  bottom: 3rem;
  left: 8rem;
  font-size: 17px;
  color: #1a1a1a;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  transition: .3s;
}
.third .third-all .pics .otherp2 {
  position: absolute;
  bottom: 1.8rem;
  left: 7rem;
  font-size: 17px;
  color: #1a1a1a;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  transition: 0.3s all ease-in-out;
}
.third .third-all .pics .otherp1 {
  position: absolute;
  top: 12rem;
  left: 8rem;
  font-size: 17px;
  color: #1a1a1a;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  transition: 0.3s all ease-in-out;
}
.third .third-all .pics img {
  width: 100%;
  transition: .3s;
}
.third .third-all .pics .parts1 {
  overflow: hidden;
}
.third .third-all .pics .parts1:hover .otherp1 {
  color: white;
}
.third .third-all .pics .parts1:hover .overlay1 {
  visibility: visible;
}
.third .third-all .pics .parts1 .overlay1 {
  width: 100%;
  height: 14.8rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  opacity: 0.5;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}
.third .third-all .pics .parts2 {
  overflow: hidden !important;
  margin-top: 15px;
}
.third .third-all .pics .parts2:hover .otherp2 {
  color: white;
}
.third .third-all .pics .parts2:hover .overlay2 {
  visibility: visible;
}
.third .third-all .pics .parts2 .overlay2 {
  width: 100%;
  height: 14.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1a1a1a;
  opacity: 0.5;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}

.forth {
  background-color: #F9F9F9;
}
.forth .forth-text {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.forth .forth-text .text {
  width: 25%;
  margin-top: 60px;
  text-align: center;
  position: relative;
}
.forth .forth-text .text:hover::after {
  width: 10%;
}
.forth .forth-text .text:hover::before {
  width: 10%;
}
.forth .forth-text .text a {
  font-size: 46px;
  color: #1d1d1d;
  text-decoration: none;
}
.forth .forth-text .text a:hover {
  color: black;
}
.forth .forth-text .text::after {
  content: "";
  position: absolute;
  background-color: #DFD3D3;
  height: 5%;
  width: 0%;
  top: 65%;
  right: 50%;
  transition: 0.4 all ease-in-out;
}
.forth .forth-text .text::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, #DFD3D3, #FEDBC4);
  height: 5%;
  width: 0%;
  top: 65%;
  left: 50%;
  transition: 0.4 all ease-in-out;
}
.forth .forth-text .text1 {
  width: 25%;
  margin-top: 60px;
  text-align: center;
}
.forth .forth-text .text1 hr {
  width: 25%;
  height: 6px;
  background-image: linear-gradient(to right, #DFD3D3, #FEDBC4);
  border: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.forth .forth-text .text1 a {
  font-size: 46px;
  color: #1d1d1d;
  text-decoration: none;
}
.forth .forth-text .text1 a:hover {
  color: black;
}
.forth .forthpart1 {
  display: flex;
}
.forth .forthpart1 .parts {
  flex: 1;
  position: relative;
}
.forth .forthpart1 .parts:hover .img1 {
  visibility: hidden;
}
.forth .forthpart1 .parts:hover .img2 {
  visibility: visible;
}
.forth .forthpart1 .parts:hover .icons {
  visibility: visible;
  top: 18rem;
  right: 6.5rem;
}
.forth .forthpart1 .parts .img1 {
  position: absolute;
  width: 100%;
  transition: .3s all ease-in-out;
}
.forth .forthpart1 .parts .img1 img {
  width: 100%;
}
.forth .forthpart1 .parts .img2 {
  position: absolute;
  visibility: hidden;
  transition: .3s all ease-in-out;
  width: 100%;
}
.forth .forthpart1 .parts .img2 img {
  width: 100%;
}
.forth .forthpart1 .parts .icons {
  position: absolute;
  top: 18rem;
  right: 0;
  transition: .3s all ease-in-out;
}
.forth .forthpart1 .parts .icons i {
  padding: 20px;
  background-color: white;
  filter: drop-shadow(0px 2px 4px black);
}
.forth .forthpart1 .parts .imgbox {
  width: 100%;
  background-color: #F9F9F9;
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.forth .forthpart1 .parts .imgbox h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
.forth .forthpart1 .parts .imgbox p {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 3px;
}
.forth .forthpart1 .parts .imgbox i {
  display: inline;
  font-size: 12px;
}

.modernliving {
  background-image: url(https://cdn.shopify.com/s/files/1/0246/9108/1313/files/modern-banner_d97618fc-6edd-4d3f-9ac2-db03b0699f87.jpg?v=1563171315);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 620px;
  width: 100%;
  position: relative;
}
.modernliving .box {
  position: absolute;
  top: 40%;
  right: 15%;
}
.modernliving .box:hover a {
  color: #1A1A1A;
}
.modernliving .box a {
  font-size: 56px;
  color: white;
  text-decoration: none;
  line-height: 1.3;
  transition: .3s;
}

.modernsofa {
  height: 620px;
  width: 100%;
  height: 80%;
  display: flex;
}
.modernsofa .box1 {
  flex: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.modernsofa .box1:hover .overlay1 {
  opacity: 0.5;
}
.modernsofa .box1:hover img {
  transform: scale(1.1);
}
.modernsofa .box1 img {
  width: 100%;
}
.modernsofa .box1 a {
  font-size: 56px;
  color: white;
  text-decoration: none;
  line-height: 1.3;
  position: absolute;
  bottom: 3rem;
  left: 5rem;
}
.modernsofa .box1 .overlay1 {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s;
  opacity: 0;
  visibility: none;
}
.modernsofa .box2 {
  flex: 1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.modernsofa .box2:hover .overlay2 {
  opacity: 0.5;
}
.modernsofa .box2:hover img {
  transform: scale(1.1);
}
.modernsofa .box2 img {
  width: 100%;
}
.modernsofa .box2 a {
  font-size: 56px;
  color: white;
  text-decoration: none;
  line-height: 1.3;
  position: absolute;
  bottom: 3rem;
  left: 5rem;
}
.modernsofa .box2 .overlay2 {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3S;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
